<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une Note</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ajouter une Note</h1>
        
        {% if message %}
            <p class="success-message">{{ message }}</p>
        {% endif %}

        <form action="/note" method="POST">
            <label for="id_etudiant">Sélectionnez l'étudiant :</label>
            <select name="id_etudiant" id="id_etudiant">
                {% for etudiant in etudiants %}
                <option value="{{ etudiant.id_etudiant }}">{{ etudiant.nom }} (ID: {{ etudiant.id_etudiant }})</option>
                {% endfor %}
            </select>

            <label for="note">Entrez la note :</label>
            <input type="number" step="0.1" name="note" id="note" required>

            <button type="submit">Ajouter la Note</button>
        </form>

        <a href="/">Retour à l'accueil</a>
    </div>
</body>
</html>
